.login__bg{
   background-image: url(https://i.pinimg.com/474x/ee/23/f5/ee23f5eee44c70e40bb8b2318f6a2105.jpg); 
   height:91vh;
   background-position:left;
   background-size:cover;
   background-repeat: no-repeat;
   overflow-x: hidden;
}
